body {
  background-color: rgb(178, 196, 252);
  color:rgb(19, 19, 19);
  font-family: Arial, Helvetica, sans-serif;
}

.debug {
  background-color: rgb(17, 81, 60);
}

.k_container{
  height: 100vh;
  background-color: blueviolet;
}
#mail-output {
  margin-bottom: 40px;
}

.player-titles span{
  margin: 20px 40px;
}
 
#spacex {
  margin: 0 85px;
}

#resultt{
  margin: 0 120px;
}
